<h1>Bitfinex</h1>

<div class="wallet">
  <h3>Wallet Balance</h3>
  <div id="wallet-balances"></div>
</div>

<%= simple_form_for :bitfinex_V2_query, url: '/post_query_v2' do |f| %>
  <%= f.input :query_v2, as: :string %>
<% end %>

<%= simple_form_for :bitfinex_V1_query, url: '/post_query_v1' do |f| %>
  <%= f.input :query_v1, as: :string %>
<% end %>



<%= link_to 'websocket button', websocket_path, remote: true, class: 'btn btn-primary' %>
